<!DOCTYPE html>
<html class="dark" lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="parent(content,title,script)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Base Page</title>

    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet">
</head>

<body>
<!-- Navbar -->

<div data-th-replace="navbar::navbar"></div>

<!-- Main Content -->
<div class="p-4 pt-20">
    <section th:replace="${content}"></section>
</div>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<th:block th:replace="${script}"></th:block>

<!-- Footer -->
<footer>Footer: Ritesh</footer>

</body>
</html>
