

<nav data-th-fragment="navbar" class="bg-neutral-primary fixed w-full z-20 top-0 start-0 border-b border-default">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img data-th-src="@{'/images/phonebook.png'}" class="h-8" alt="Flowbite Logo" />
      <span class="self-center text-xl text-heading font-semibold whitespace-nowrap">NeoContacts</span>
  </a>
  <div class="inline-flex gap-2 md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <a
        data-th-href="@{'/login'}"
        type="button"
        class="
            relative inline-flex items-center justify-center
            text-white bg-gray-800
            hover:bg-gray-900
            active:bg-blue-800
            transition-all duration-200 ease-in-out
            shadow-md hover:shadow-lg active:scale-95
            focus:outline-none focus:ring-4 focus:ring-blue-300
            font-semibold text-sm
            rounded-lg
            px-5 py-2.5
        ">
            Login
  </a>
        <a
        data-th-href="@{'/register'}"
        type="button"
        class="
            relative inline-flex items-center justify-center
            text-white bg-blue-800
            hover:bg-blue-900
            active:bg-blue-800
            transition-all duration-200 ease-in-out
            shadow-md hover:shadow-lg active:scale-95
            focus:outline-none focus:ring-4 focus:ring-blue-300
            font-semibold text-sm
            rounded-lg
            px-5 py-2.5
        ">
            Sign up
</a>
      <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-9 h-9 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
        </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
    <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
      <li>
        <a href="#" class="block py-2 px-3 text-white bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0" aria-current="page">Home</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Home</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">About</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Services</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Contact</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
