<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
    <title>All Contacts</title>
</head>

<body>
    <div id="content">
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>

        <div class="sm:pl-64" style="height: 1000px">
            <div class="flex-col items-center">
                <h1 class="text-5xl text-center">All Your Contacts</h1>
                <div class="contacts_container p-5">
                    <div
                        class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
                        <form action="" data-th-action="@{'/user/contacts/search'}">
                            <div
                            class="flex space-x-3 items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 p-5">
                            <div>
                                <select 
                                    name="field"
                                id="underline_select"
                                    class="block py-2.5 ps-0 w-full text-sm text-body bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer">
                                    <option selected>Select Feild</option>
                                    <option value="name">Name</option>
                                    <option value="phone">Phone</option>
                                    <option value="email">Email</option>
                                    
                                </select>
                            </div>
                            <label for="input-group-1" class="sr-only">Search</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                            d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                                    </svg>
                                </div>
                                <input 
                                type="text" id="input-group-1" name="keyword"
                                    class="block w-full max-w-96 ps-9 pe-3 py-2 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
                                    placeholder="Search">
                            </div>
                            <button type="submit" class="px-3 py-2 bg-gray-800 text-white rounded">Search</button>
                        </div>
                    </form>
                        <table class="w-full text-sm text-left rtl:text-right text-body">
                            <thead
                                class="text-sm text-body bg-neutral-secondary-medium border-b border-t border-default-medium">
                                <tr>

                                    <th scope="col" class="px-6 py-3 font-medium">
                                        Name
                                    </th>
                                    <th scope="col" class="px-6 py-3 font-medium">
                                        Phone
                                    </th>
                                    <th scope="col" class="px-6 py-3 font-medium">
                                        Links
                                    </th>
                                    <th scope="col" class="px-6 py-3 font-medium">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-th-each="c : ${pageContact.getContent()}" data-th-object="${c}"
                                    class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium">

                                    <th scope="row" class="flex items-center px-6 py-4 text-heading whitespace-nowrap">
                                        <img class="w-10 h-10 rounded-full" data-th-src="@{*{picture}}"
                                            src="/docs/images/people/profile-picture-1.jpg" alt="Jese image">
                                        <div class="ps-3">

                                            <!-- Name + Favorite -->
                                            <div class="flex items-center gap-2">
                                                <span class="text-base font-semibold" data-th-text="*{name}">
                                                    Neil Sims
                                                </span>

                                                <i data-th-if="*{favorite}"
                                                    class="fa-solid fa-heart text-green-500 text-sm" title="Favorite">
                                                </i>
                                            </div>

                                            <div class="font-normal text-body text-sm" data-th-text="*{email}">
                                                neil.sims@flowbite.com
                                            </div>

                                        </div>

                                    </th>
                                    <td class="px-6 py-4">
                                        <i class="fa-solid fa-phone w-4 h-4 "></i>
                                        <span data-th-text="*{phoneNumber}"></span>
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex items-center gap-3">

                                            <!-- Website link -->
                                            <a data-th-href="@{*{websiteLink}}"
                                                class="text-blue-500 hover:text-blue-700 transition text-lg">
                                                <i class="fa-solid fa-link"></i>
                                            </a>

                                            <!-- LinkedIn link -->
                                            <a data-th-href="@{*{linkedInLink}}" target="_blank"
                                                class="text-sky-600 hover:text-sky-800 transition text-lg">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>

                                        </div>
                                    </td>

                                    <td class="px-6 py-4">
                                        <div class="flex items-center gap-4">

                                            <!-- Delete -->
                                            <button type="button" title="Delete"
                                                class="text-red-500 hover:text-red-700 transition">
                                                <i class="fa-solid fa-trash text-lg"></i>
                                            </button>

                                            <!-- Edit -->
                                            <a title="Edit" class="text-blue-500 hover:text-blue-700 transition">
                                                <i class="fa-solid fa-pen-to-square text-lg"></i>
                                            </a>

                                            <!-- View -->
                                            <button type="button" title="View"
                                                class="text-gray-600 hover:text-gray-800 transition">
                                                <i class="fa-solid fa-eye text-lg"></i>
                                            </button>

                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div data-th-if="${pageContact.totalElements>0}"
                            class="pagination_container bg-white dark:bg-gray-800 p-5 text-center">
                            <nav aria-label="Page navigation example">
                                <ul class="inline-flex -space-x-px text-base h-10">
                                    <li data-th-unless="${pageContact.first}">
                                        <a data-th-href="@{'/user/contacts?size='+${pageSize}+'&page=' + ${pageContact.number-1}}"
                                            href="#"
                                            class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                                    </li>
                                    <li data-th-each="index :  ${#numbers.sequence(0,pageContact.totalPages-1)}">
                                        <a data-th-href="@{'/user/contacts?size='+${pageSize}+'&page='+${index}}"
                                            href="#"
                                            data-th-classappend="${index==pageContact.number? 'bg-blue-200  dark:bg-gray-600' : 'bg-white dark:bg-gray-800'}"
                                            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <span data-th-text="${index+1}"></span>
                                        </a>
                                    </li>

                                    <li data-th-unless="${pageContact.last}">
                                        <a data-th-href="@{'/user/contacts?size='+${pageSize}+'&page=' + ${pageContact.number+1}}"
                                            href="#"
                                            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        console.log("This is all contacts page");
    </script>
</body>

</html>