<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="${loggedInUser.name} + ' | Dashboard'">Profile</title>
</head>

<body>
    <div id="content">
        <div class="sm:pl-64" style="height: 1000px;">
            <div class="flex justify-center flex-col items-center">
                <h1>Welcome to profile page</h1>
            </div>
        </div>
    </div>

    <script>
        console.log("This is profile page");
    </script>
    <script>
        console.log("second profile page script");
    </script>
</body>

</html>